.navigationbar{
    background-color: lightgray;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
Link{
    text-decoration: none;
}